@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div class="ml-md-auto">
            <a href="About" target="_blank">About</a>
            <LoginDisplay />
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div> 
</div>
